.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav_list {
  display: flex;
  justify-content: space-between;
}
.nav_link {
  color: 2363ee;
}
.nav_notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 13px;
}
.nav_btn {
  position: relative;
}
.nav_notification2 {
  position: absolute;
  background-color: tomato;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  left: 27px;
  top: -1px;
}
